@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */
:root {
    /* --terracotta: #B85C38;
    --brown: #5C382B;
    --sand: #D8B89C;
    --cream: #FFF6E9;
    --charcoal: #292522; */
    --color-primary-brand-1: #FFF6E9;
    --color-primary-brand-2: #FFD79C;
    --color-primary-light-1: #FFFFFF;
    --color-primary-light-2: #FCFAF8;
    --color-primary-light-3: #F0EBE4;
    --color-primary-dark-1: #3A2D19;
    --color-primary-dark-2: #594830;
    --color-primary-dark-3: #72634C;
    --font-title: "Playfair Display", serif;
    --font-text: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-text);
    background-color: var(--color-primary-brand-1);
}

.navbar-brand>img {
    height: 50px;
}

.book-button {
    background-color: var(--color-primary-dark-2);
    color: var(--color-primary-light-1);
    border: 1px solid var(--color-primary-dark-2);
}

.book-button:hover {
    background-color: var(--color-primary-light-1);
    color: var(--color-primary-dark-2);
    border: 1px solid var(--color-primary-dark-2);
}
.navbar{
    background-color: var(--color-primary-brand-1);
}
.navbar .nav-link,.navbar .nav-link.active {
    color: var(--color-primary-dark-1);
}
.text-warning {
    color: var(--color-primary-brand-2)
}






/* Responsiviteti */
@media (max-width: 768px){
    
}
@media (max-width:425px){

}